nav.top {
    background-color: #363b3f;
}

i.fas.rounded {
    display: inline-block;
    border-radius: 50% !important;
    padding: 0.5em;
    background-color: rgb(243,106,34);
    border: 0;
    color: #FFF;
    font-size: 0.7em;
}

